flask
flask-cors
pdfplumber
pytesseract
opencv-python-headless
numpy
pillow
chromadb
rank_bm25
google-cloud-aiplatform
langchain
scikit-learn
pandas
pypdf
sentence-transformers
torch
transformers
gunicorn>=20.1.0
google.generativeai