flask
flask-cors
pdfplumber
pytesseract
opencv-python-headless
numpy
pillow
chromadb
rank_bm25
google-cloud-aiplatform
langchain
scikit-learn
pandas
pypdf
torch==2.2.2
transformers==4.36.2
tokenizers==0.18.1
gunicorn>=20.1.0
google-generativeai
sentence-transformers==2.2.2
huggingface_hub==0.20.3